# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# ======================
# Dependencies
# ======================
node_modules/

# ======================
# Expo
# ======================
.expo/
dist/
web-build/
expo-env.d.ts

# ======================
# Native / Mobile
# ======================
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ======================
# Metro / React Native
# ======================
.metro-health-check*

# ======================
# Debug logs
# ======================
npm-debug.*
yarn-debug.*
yarn-error.*

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# ENV / Secrets (CRITICAL)
# ======================
.env
.env.local
.env.*.local

# ======================
# TypeScript
# ======================
*.tsbuildinfo

# ======================
# Examples / temp
# ======================
app-example

# ======================
# Generated native folders
# ======================
/ios
/android
